@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<h4>Add new Restaurant</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.RestaurantName)
  @Html.TextBoxFor(model => model.RestaurantName, new {@required = "required"})
  <br /><br />
  @Html.LabelFor(model => model.Description)
  @Html.TextAreaFor(model => model.Description, new {@required = "required"})
  <br /><br />
  @Html.LabelFor(model => model.Cuisine)
  @Html.DropDownList("CuisineId")
  <br /><br />
  <input type="submit" value="Add new restaurant" />
}
<br />

<p>@Html.ActionLink("Back to List", "Index")</p>